*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  background-color: #1c2541;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 1rem;
}
.container header {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.container header .image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.container header .title-h {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.container .score {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.container .score .s-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.container .options {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-gap: 0.5rem;
}
.container .options h3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.container .options .o-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  row-gap: 0.5rem;
}
.container .options .o-images .first {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.container .options .o-images .second {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.container .options .o-images .third {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
.container .options .o-images .rock {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.container .options .o-images .paper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.container .options .o-images .scissor {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}
.container footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

@media screen and (min-width: 230px) {
  .container header {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 470px) {
  .container .options .o-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    row-gap: 0.5rem;
  }
  .container .options .o-images .first {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .container .options .o-images .second {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .container .options .o-images .third {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .container .options .o-images .rock {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .container .options .o-images .paper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .container .options .o-images .scissor {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
header {
  background-color: #0b132b;
  padding: 0 5px;
}
header .image {
  width: 40px;
}
header .image img {
  width: 100%;
}
header .title-h {
  display: flex;
}
header .title-h h1 {
  display: flex;
  color: #dfdfdf;
  align-items: center;
  font-size: 22px;
  font-family: "Spectral", serif;
  padding-left: 5px;
}

@media screen and (min-width: 230px) {
  header {
    padding: 0 20px;
  }
  header .image {
    width: 60px;
  }
  header .title-h h1 {
    font-size: 26px;
    padding-left: 10px;
  }
}
.score {
  background-color: #3a506b;
  border-radius: 5px;
  padding: 10px;
}
.score h2 {
  color: #53cac8;
  padding: 5px 0;
  text-align: center;
  font-size: 1.4rem;
}
.score .s-panel {
  padding: 5px 10px;
}
.score .s-panel .s-user {
  margin-right: 5px;
}
.score .s-panel .s-computer {
  margin-left: 5px;
}
.score .s-panel .points {
  color: #2b2b2b;
  background-color: #eeeeee;
  font-size: 1.125rem;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
}

@media screen and (min-width: 230px) and (max-width: 600px) {
  .score {
    width: 200px;
  }
}
.options {
  background-color: #0b132b;
  padding: 10px;
  margin: 0 20px;
  border-radius: 5px;
}
.options h3 {
  color: #eee;
  font-size: 1.25rem;
  padding: 5px 0;
  text-align: center;
}
.options .o-images .option {
  display: flex;
  justify-content: center;
  background-color: #6887aa;
  width: 140px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 100%;
  border-style: solid;
  border-width: 7px;
  cursor: pointer;
}
.options .o-images .option img {
  width: 50px;
}
.options .o-images .first {
  border-color: #ec3838;
}
.options .o-images .second {
  border-color: #426be6;
}
.options .o-images .third {
  border-color: #36ad6a;
}
.options .o-images .o-text {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.options .o-images .rock {
  color: #ec3838;
}
.options .o-images .paper {
  color: #426be6;
}
.options .o-images .scissor {
  color: #36ad6a;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #2d3f55;
  padding: 5px;
}
footer span {
  color: #dfdfdf;
  padding: 5px 0;
  font-size: 18px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
